:root{
    --background-color: #f0f4f8;
    --font-color: #000000;
    --cards-color:#fff;
    --subfont-color: grey;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background-color);
    font-family: sans-serif;
}
header{
    width: 100%;
    height: 200px;
    margin-top: 30px;
}
.hero-header--container{
    width: 700px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.hero-info--coontainer{
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.name-container{
    font-size: 1.4rem;
    line-height: 25px;
    letter-spacing: 2px;
}
.occupation-container{
    font-size: 1.2rem;
    line-height: 18px;
    letter-spacing: 1px;
}
.city-container{
    color: var(--subfont-color);
    font-size: 1.2rem;
    display: inline-block;
}

.city-container span{
    background-image: url("/assets/icons/pin.png");
    display: inline-block;
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
    margin-right: 10px;
}
.social-network{
    display: flex;
    align-items: center;
}
button{
    width: 60px;
    height: 40px;
    margin-left: 10px;
    border: none;
    background-color: #fff;
    border-radius: 10px;
}
button:hover{
    
}
.email-icon{
    background-image: url("/assets/icons/correo-electronico.png");
    display: inline-block;
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
    color: #000000;
}
.linkedin-icon{
    background-image: url("/assets/icons/linkedin.png");
     display: inline-block;
    width: 15px;
    height: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
    color: #000000;
    margin-right: 10px;
}
.linkedin-button{
    width: 110px;
    display: flex;
align-items: center;
justify-content: center;  
}
.github-icon{
    background-image: url("/assets/icons/github.png");
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    place-items: center;
    color: #000000;
    margin-right: 10px;

}
.github-button{
    width: 100px;
        display: flex;
align-items: center;
justify-content: center;    
}
.profile-photo-container{
    height: 200px;
    width: 200px;
}
.profile-photo-container img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.about-me-info--coontainer{
    width: 700px;
    margin: 0 auto;
        margin-top: 50px;

}
.about-me--container h2{
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 15px;
}
.about-me--container p{
    font-size: 1.1rem;
    line-height: 25px;
    margin-bottom: 15px;
    color: var(--subfont-color);
    font-weight: 500;
}
.experience-info--container{
    width: 700px;
    height: auto;
    margin: 40px auto;
}

.card-experience-container{
    width: 98%;
    height: auto;
    border: 1px solid var(--subfont-color);
    padding: 20px;
    margin: 10px auto 10px ;
    background-color: #fff;
    border-radius: 15px;
}
.card-experience-container p{
    color: var(--subfont-color);
    line-height: 25px;
    margin-top: 10px;
}
.title-experience-info--container{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
}
.title-experience{
    display: inline-flex;
    width: 60%;
    align-items: flex-end;

}
.title-experience p{
    margin-left: 10px;
    color: var(--subfont-color);
}
.title-experience h3{
    font-size: 1.4rem;
    font-weight: 700;
}
.time-container{
    color: var(--subfont-color);
}

.galery-info--container{
    width: 700px;
    margin: 10px auto;
}
.projects-cards--container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.galery-cards{
    width: 300px;
    height: auto;
    background-color: #fff;
    margin: 10px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px srgb(0, 0, 0.5, 0.4)
}
.galery-cards img{
    width: 100%;
    height: 140px;
    height: auto;
    object-fit: cover;
}
.galery-cards h3{
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 20px;

}
.galery-cards p{
    font-size: 1rem;
    color: var(--subfont-color);
    line-height: 20px;
    margin-bottom: 10px;
}
.galery-cards span{
    background-color: #3ebee680 ;
    color: #0000d9;
    padding: 5px;
    border-radius: 5px;
    
}