:root{
    --background-color: #f0f4f8;
    --font-color: #000000;
    --cards-color:#fff;
    --subfont-color: grey;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background-color);
    font-family: sans-serif;
}
header{
    width: 100%;
    height: 200px;
    margin-top: 30px;
}
h2{
 font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 15px;
}
.hero-header--container{
    width: 700px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.hero-info--coontainer{
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.name-container{
    font-size: 1.4rem;
    line-height: 25px;
    letter-spacing: 2px;
}
.occupation-container{
    font-size: 1.2rem;
    line-height: 18px;
    letter-spacing: 1px;
}
.city-container{
    color: var(--subfont-color);
    font-size: 1.2rem;
    display: inline-block;
}

.city-container span{
    background-image: url("/assets/icons/pin.png");
    display: inline-block;
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
    margin-right: 10px;
}
.social-network{
    display: flex;
    align-items: center;
}
button{
    width: 60px;
    height: 40px;
    margin-left: 10px;
    border: none;
    background-color: #fff;
    border-radius: 10px;
}
button:hover{
    border: 1px solid #3ebee680;
    transform: animate__pulse;
}
.email-icon{
    background-image: url("/assets/icons/correo-electronico.png");
    display: inline-block;
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
    color: #000000;
}
.linkedin-icon{
    background-image: url("/assets/icons/linkedin.png");
     display: inline-block;
    width: 15px;
    height: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
    color: #000000;
    margin-right: 10px;
}
.linkedin-button{
    width: 110px;
    display: flex;
align-items: center;
justify-content: center;  
}
.github-icon{
    background-image: url("/assets/icons/github.png");
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    place-items: center;
    color: #000000;
    margin-right: 10px;

}
.github-button{
    width: 100px;
        display: flex;
align-items: center;
justify-content: center;    
}
.profile-photo-container{
    height: 200px;
    width: 200px;
}
.profile-photo-container img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.about-me-info--coontainer{
    width: 700px;
    margin: 0 auto;
        margin-top: 50px;

}
.about-me--container p{
    font-size: 1.1rem;
    line-height: 25px;
    margin-bottom: 15px;
    color: var(--subfont-color);
    font-weight: 500;
}
.experience-info--container{
    width: 700px;
    height: auto;
    margin: 40px auto;
}

.card-experience-container{
    width: 98%;
    height: auto;
    border: 1px solid var(--subfont-color);
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
}
.card-experience-container p{
    color: var(--subfont-color);
    line-height: 25px;
    margin-top: 10px;
}
.title-experience-info--container{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
}
.title-experience{
    display: inline-flex;
    width: 60%;
    align-items: flex-end;

}
.title-experience p{
    margin-left: 10px;
    color: var(--subfont-color);
}
.title-experience h3{
    font-size: 1.4rem;
    font-weight: 700;
}
.time-container{
    color: var(--subfont-color);
    
}

.galery-info--container{
    width: 700px;
    margin: 10px auto;
}
.projects-cards--container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}
.galery-cards{
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px srgb(0, 0, 0.5, 0.4);
    transition: all 0.3s ease
}
.galery-cards:hover{
    box-shadow: 10px 10px 54px -7px rgba(0,0,0,0.75);
    transform: translateY(-2px);
}
.galery-cards img{
    width: 100%;
    height: 140px;
    height: auto;
    object-fit: cover;
}
.galery-cards h3{
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 20px;

}
.galery-cards p{
    font-size: 1rem;
    color: var(--subfont-color);
    line-height: 20px;
    margin-bottom: 10px;
}
.tecnologies--container{
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2,auto);
    grid-auto-flow: row;
    gap: 10px; 
    justify-items: start;
    justify-content: start;
    align-items: stretch;
}
.galery-cards span{
    
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    width: auto;
    height: auto;
    text-align: center;
}
.html-card{
    background-color: #E34F26;
    color: #fff;
}
.css-card{
    background-color: #563D7C;
    color: #fff;
}
.js-card{
    background-color: #F7DF1E	;
    color: #000000;
}
.node-card{
    background-color: #339933	;
    color: #fff;
}
.php-card{
    background-color: #777BB4	;
    color: #fff;
}
.vite-card{
    background-color: #646CFF;
    color: #fff;
}
.npm-card{
    background-color: #CB3837;
    color: #fff;
}
.git-card{
    background-color: #171515	;
    color: #fff;
}
.ollama-card{
    background-color: #CAAD8D;
    color: #000;
}
.hability-containers{
    width: 700px;
    height: 80px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;

}
.hability-list-container li{
    list-style: none;
    display: inline-block;
    background-color: #19002A;
    color: #fff;
    padding: 8px;
    border-radius: 10px;
    margin: 10px 5px;
}

